[user]
	name = Dermot Cusack
	email = dermot.cusack@blacknight.com
[color]
	ui = true
[diff]
	algorithm = patience
[alias]
	uncommit = reset --soft 'HEAD^'
	aggressive = !"git fsck --unreachable; git reflog expire --expire=0 --all; git repack -a -d -l; git prune; git gc --aggressive"
[http]
	sslverify = false
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[push]
	default = simple
